<!-- choco install packages.config -y -->
<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package id="7zip" />
  <package id="autohotkey" />
  <!-- <package id="anydesk" /> -->
  <package id="blender" />
  <package id="chocolateygui" />
  <package id="Everything" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <!-- <package id="gimp" /> -->
  <package id="git" />
  <package id="github-desktop" />
  <!-- <package id="golang" /> -->
  <package id="GoogleChrome" />
  <package id="GoogleDrive" />
  <package id="imagemagick" />
  <package id="inkscape" />
  <package id="Listary" />
  <package id="logseq" />
  <!-- <package id="microsoft-edge" /> -->
  <package id="microsoft-windows-terminal" />
  <package id="nodejs-lts" />
  <package id="notepadplusplus" />
  <package id="obsidian" />
  <package id="pandoc" />
  <package id="phraseexpress" />
  <package id="postman" />
  <!-- <package id="powerbi" /> install PowerBI from Microsoft store -->
  <package id="powertoys" />
  <package id="processing" />
  <package id="python" />
  <package id="qttabbar" />
  <package id="quicklook" />
  <!-- <package id="rainmeter" /> -->
  <package id="screentogif" />
  <package id="slack" />
  <package id="unchecky" />

  <package id="visualstudio2022community" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="x-mouse-button-control" />
  <package id="zoom" />
  <package id="zoomit" />


  <!-- Emacs org-roam: https://emacs.stackexchange.com/a/68115/36093 -->
  <package id="emacs" />
  <package id="SQLite" />
  <package id="mingw" />
  <package id="msys2" />
</packages>