<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="DotNet4.5.2" />
  <package id="emacs" />
  <package id="Everything" />
  <package id="Firefox" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="Listary" />
  <package id="microsoft-edge" />
  <package id="microsoft-windows-terminal" />
  <package id="mingw" />
  <package id="msys2" />
  <package id="nodejs-lts" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="obsidian" />
  <package id="pandoc" />
  <package id="phraseexpress" />
  <package id="python" />
  <package id="python3" />
  <package id="quicklook" />
  <package id="SQLite" />
  <package id="unchecky" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="x-mouse-button-control" />
  <package id="zoomit" />
</packages>